<h2>Upload Content</h2>
<form [formGroup]="contentform" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" required [ngClass]="{'is-invalid':contentform.get('title')?.invalid && (contentform.get('title')?.touched || contentform.get('title')?.dirty),'is-valid':contentform.get('title')?.valid}" formControlName="title">
        <div *ngIf="contentform.get('title')?.invalid && (contentform.get('title')?.touched || contentform.get('title')?.dirty)" class="text-danger">
            <span *ngIf="contentform.get('title')?.errors?.['required']">title is required</span>
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Enter description" required formControlName="description"></textarea>
        <div class="invalid-feedback">
            Please enter a description.
        </div>
    </div>
    <div class=" mb-3">
        <div class="form-group">
            <label for="roleSelect">Select Role</label>
            <select class="form-control" id="roleSelect" formControlName="type">
                <option value="" disabled selected>Select User</option>
                <option value="pdf">pdf</option>
                <option value="img">img</option>
                <option value="mp4">mp4</option>
                <option value="mp3">mp3</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="contentUpload" class="form-label">Content Upload</label>
        <input type="file" class="form-control" id="contentUpload" (change)="onSelectedFile($event)" required formControlName="content">
        <div class="invalid-feedback">
            Please upload a file.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [hidden]="isUpdate">Submit</button>
    <button type="submit" class="btn btn-warning mx-2" [hidden]="isSubmit">Update</button>
    <button type="button" class="btn btn-secondary" (click)="contentform.reset()" [hidden]="isSubmit">Cancel</button>
</form>
